apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend-ingress-public
spec:
  rules:
    - http:
        paths:
        - path: /register
          pathType: Prefix
          backend:
            service:
              name: flask-auth-service
              port:
                number: 80
        - path: /login
          pathType: Prefix
          backend:
            service:
              name: flask-auth-service
              port:
                number: 80
      